@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .section-container{
        @apply p-md py-xl lg:p-3xl;
    }
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hero-section{
    background-image: url("/image/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}