@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: ;
    }
}

@layer components{
    .section-container{
        @apply px-md py-1 lg:py-8 lg:px-20;
    }

    .btn-slide{
        @apply text-white bg-primary-maroon-1 py-2 px-4 rounded-lg relative z-10 overflow-hidden transition-colors duration-300;
        /* @apply inline-block w-fit text-heading-6 text-gray-900 bg-primary-yellow-1 px-xl py-md rounded-full hover:text-white focus:text-white relative z-10 overflow-hidden transition-colors duration-300; */
        /* @apply inline-block w-fit text-heading-6 text-gray-900 bg-primary-yellow-1 px-xl py-md rounded-full hover:text-white focus:text-white relative z-10 overflow-hidden transition-colors duration-300; */
    }

    .btn-slide::before{
        content: "";
        @apply absolute top-0 left-0 w-full h-full z-[-1] bg-primary-maroon-1 rounded-full scale-x-0 hover:scale-x-100 focus:scale-x-100 transition-transform duration-300 origin-left;
    }
}

@keyframes slide-in{
    0%, 100% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(-15%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes tooltip-fade-in{
    0.5%, 51%, 100%{
        opacity: 0;
        visibility: hidden;
    }

    2%, 50%{
        opacity: 1;
        visibility: visible;
    }
}

.tooltip-fade-in{
    visibility: hidden;
    animation: tooltip-fade-in 40s infinite;
    animation-delay: 1s;
}

.animate-slide-in{
    animation: slide-in 1.5s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hero-section, .enquire-section{
    background-image: url("/image/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-submenu{
    background-image: url("/image/hero-bg.png");
    background-size: contain;
}