.hero {
    background: linear-gradient(
            180deg,
            rgba(121, 0, 0, 0.58) 100%,
            rgba(0, 0, 0, 0) 88.6%
        ),
    lightgray 50%;
    object-fit:contain;
    background-repeat: no-repeat;

}
